* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: yellow;
    font-family: "Arial", sans-sarif;
    font-size: 26px;
  }

  .viewbooks {
    background-color: red;
    text-align: center;
    list-style: none;
  }

  .book_container {
    margin: 40px auto;
    max-width: 500px;
  }

  .book_title {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  .book_listTitle {
    text-decoration: underline;
  }

 .book__photo {
  width: 200px;
  margin: 10px 0;
 }
